<div class="container">
  <div class="row">
    <div class="col-lg-auto mt-4 mb-4 bg-light">
      <h2>会員情報編集</h2>
    </div>
  </div>  
      
      <%= form_with model: @customer, url: customers_page_edit_path(@customer) do |f| %>
      
      <%= f.label :氏名 %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %><br>
      
      <%=f.label :フリガナ %>
      <%= f.text_field :first_name_kana %>
      <%= f.text_field :last_name_kana %><br>
      
      <%= f.label :郵便番号 %>
      <%= f.text_field :postal_code %><br>
      
      <%= f.label :住所 %>
      <%= f.text_field :address %><br>
      
      <%= f.label :電話番号 %>
      <%= f.text_field :telephone_number %><br>
      
      <%= f.label :メールアドレス %>
      <%= f.text_field :email %><br>
      
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
      <%= link_to "退会する", customers_page_confirm_path, class:"btn btn-danger" %>
      
      <% end %>
</div>      